name: Cross-platform build-only

on:
  workflow_call: {}
permissions:
  contents: read
jobs:
  build-windows-matrix:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - arch: x64
            triplet: x64-windows
            msvc-arch: x64
          - arch: arm64
            triplet: arm64-windows
            msvc-arch: amd64_arm64
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Setup MSVC ${{ matrix.arch }}
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc-arch }}
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
      - name: Build Windows Build ${{ matrix.arch }}
        working-directory: ${{ github.workspace }}/pr
        run: ..\ci\build-win.bat ${{ matrix.triplet }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}-out
          path: pr/out
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git cmake ninja-build
          sudo apt-get install -y cmake ninja-build g++-aarch64-linux-gnu libc6-dev-arm64-cross
      - name: Setup Android NDK (cached)
        run: |
          ANDROID_NDK_HOME=$(ls -d /usr/local/lib/android/sdk/ndk/* | sort -V | tail -n 1)
          echo "Using NDK at: $ANDROID_NDK_HOME"
          echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
          echo "$ANDROID_NDK_HOME" >> $GITHUB_PATH
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: '62324000504cdd27282f8275c99135cfb2bd1dc0'
      - name: Build Linux/Android
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-linux-android.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-out
          path: pr/out
  build-apple:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Install dependencies
        run: |
          brew install git cmake ninja
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: '62324000504cdd27282f8275c99135cfb2bd1dc0'
      - name: Build macOS + iOS
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-apple.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apple-out
          path: pr/out
  package:
    runs-on: ubuntu-latest
    needs: [build-windows-matrix, build-linux, build-apple]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: out-by-builders
      - name: Create per-module zip archives
        run: |
          mkdir -p out
          cp -ru out-by-builders/*/* out
      - uses: actions/upload-artifact@v4
        with:
          name: ag-module
          path: out