name: Cross-platform build-only

on:
  workflow_call:
permissions:
  contents: read
env:
  VCPKG_BINARY_SOURCES: 'files,${{ github.workspace }}/vcpkg-cache,readwrite;default'
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-cache
  VCPKG_ROOT: ${{ github.workspace }}/vcpkg
jobs:
  build-windows:
    strategy:
      matrix:
        include:
          - arch: x64
            runner: windows-latest
          - arch: arm64
            runner: windows-11-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: pr
      - name: Make sure vcpkg-cache exists
        shell: bash
        run: mkdir -p "${{ github.workspace }}/vcpkg-cache"
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-bin-win-${{ matrix.arch }}
          restore-keys: |
            vcpkg-bin-win-${{ matrix.arch }}
      - uses: lukka/get-cmake@latest
      - name: Install vcpkg
        shell: bash
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.sh
          echo "$(pwd)/vcpkg" >> $GITHUB_PATH
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - name: Build Windows x64
        working-directory: ${{ github.workspace }}/pr
        run: ..\ci\build-win.bat ${{ matrix.arch }}-windows
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: win-out-${{ matrix.arch }}
          path: pr/out
  build-linux:
    strategy:
      matrix:
        include:
          - arch: x64
            android_abi: x86_64
            runner: ubuntu-22.04
          - arch: arm64
            android_abi: arm64-v8a
            runner: ubuntu-22.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Make sure vcpkg-cache exists
        shell: bash
        run: mkdir -p "${{ github.workspace }}/vcpkg-cache"
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-bin-lin-${{ matrix.arch }}
          restore-keys: |
            vcpkg-bin-linux-${{ matrix.arch }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build
      - name: Setup Android NDK (cached)
        run: |
          ANDROID_NDK_HOME=$(ls -d /usr/local/lib/android/sdk/ndk/* | sort -V | tail -n 1)
          echo "Using NDK at: $ANDROID_NDK_HOME"
          echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
          echo "$ANDROID_NDK_HOME" >> $GITHUB_PATH
      - name: Install vcpkg
        shell: bash
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.sh
          echo "$(pwd)/vcpkg" >> $GITHUB_PATH
      - name: Build Linux/Android
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-linux-android.sh ${{ matrix.arch }} ${{ matrix.android_abi }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-out-${{ matrix.arch }}
          path: pr/out
  build-apple:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Make sure vcpkg-cache exists
        shell: bash
        run: mkdir -p "${{ github.workspace }}/vcpkg-cache"
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-bin-apple
          restore-keys: |
            vcpkg-bin-apple
      - name: Install dependencies
        run: | # cmake ninja - preinstalled
          brew install git
      - name: Install vcpkg
        shell: bash
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.sh
          echo "$(pwd)/vcpkg" >> $GITHUB_PATH
      - name: Build macOS + iOS
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-apple.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apple-out
          path: pr/out
  package:
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux, build-apple]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: out-by-builders
      - name: Create per-module zip archives
        run: |
          mkdir -p out
          cp -ru out-by-builders/*/* out
      - uses: actions/upload-artifact@v4
        with:
          name: ag-module
          path: out