name: Cross-platform build-only

on:
  workflow_call:
permissions:
  contents: read
env:
  VCPKG_BINARY_SOURCES: 'files,${{ github.workspace }}/vcpkg-cache,readwrite;default'
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-cache
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: pr
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-binaries-${{ runner.os }}
      - uses: lukka/get-cmake@latest
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: pr/vcpkg.json
          binaryCachePath: ${{ github.workspace }}/vcpkg-cache
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: Build Windows x64
        working-directory: ${{ github.workspace }}/pr
        run: ..\ci\build-win.bat x64-windows
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64_arm64
      - name: Build Windows arm64
        working-directory: ${{ github.workspace }}/pr
        run: ..\ci\build-win.bat arm64-windows
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-out
          path: pr/out
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-binaries-${{ runner.os }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git cmake ninja-build
          sudo apt-get install -y cmake ninja-build g++-aarch64-linux-gnu libc6-dev-arm64-cross
      - name: Setup Android NDK (cached)
        run: |
          ANDROID_NDK_HOME=$(ls -d /usr/local/lib/android/sdk/ndk/* | sort -V | tail -n 1)
          echo "Using NDK at: $ANDROID_NDK_HOME"
          echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
          echo "$ANDROID_NDK_HOME" >> $GITHUB_PATH
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: pr/vcpkg.json
          binaryCachePath: ${{ github.workspace }}/vcpkg-cache
      - name: Build Linux/Android
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-linux-android.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-out
          path: pr/out
  build-apple:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag-modules-ci
          path: ci
      - uses: actions/checkout@v4
        with:
          path: pr
      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-binaries-${{ runner.os }}
      - name: Install dependencies
        run: | # cmake ninja - preinstalled
          brew install git
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: pr/vcpkg.json
          binaryCachePath: ${{ github.workspace }}/vcpkg-cache
      - name: Build macOS + iOS
        working-directory: ${{ github.workspace }}/pr
        run: ../ci/build-apple.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apple-out
          path: pr/out
  package:
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux, build-apple]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: out-by-builders
      - name: Create per-module zip archives
        run: |
          mkdir -p out
          cp -ru out-by-builders/*/* out
      - uses: actions/upload-artifact@v4
        with:
          name: ag-module
          path: out